{%- assign for_drawer = true -%}

{%- if template == 'cart' or template == 'cart.ajax' -%}
  {%- assign for_drawer = false -%}
{%- endif -%}

<div class="Cart__ItemList">
  {%- unless for_drawer -%}
    <div class="Cart__Head hidden-phone">
      <span class="Cart__HeadItem Heading Text--subdued u-h7">{{ 'cart.items.product' | t }}</span>
      <span class="Cart__HeadItem"></span>
      <span class="Cart__HeadItem Heading Text--subdued u-h7" style="text-align: center">{{ 'cart.items.quantity' | t }}</span>
      <span class="Cart__HeadItem Heading Text--subdued u-h7" style="text-align: right">{{ 'cart.items.total' | t }}</span>
    </div>
  {%- endunless -%}


  {% assign includeVIP = true %}


  {%- for line_item in cart.items -%}
{%- include 'bold-cart-item' with line_item -%}
    {%- if for_drawer -%}
      <div class="CartItemWrapper">
    {%- endif -%}
        
        {% if line_item.product.type contains 'VIP' and includeVIP %}
        	{% assign includeVIP = false %}
            <div class="vip-message">
              	<div class="vip-message-title">Got questions?</div>
                <div class="vip-message-body">Call the KISS VIP hotline now!</div>
                <div class="vip-message-body">877-VIP-KISS<br>877-847-5477</div>
                <div class="vip-message-body">9am ET to 9pm ET.</div>
            </div>
        {% endif %}
        
    <div class="CartItem">
      <div class="CartItem__ImageWrapper AspectRatio">
        <div class="AspectRatio" style="--aspect-ratio: {{ line_item.image.aspect_ratio }}">
          <img class="CartItem__Image" src="{{ line_item.image | img_url: '240x' }}" alt="{{ line_item.image.alt | escape }}">
        </div>
      </div>

      <div class="CartItem__Info">
        <h2 class="CartItem__Title Heading">
          <a href="{{ line_item.url }}">{{ line_item.product.title }}</a>
        </h2>

        <div class="CartItem__Meta Heading Text--subdued">
          {%- unless line_item.product.has_only_default_variant -%}
            <p class="CartItem__Variant">{{ line_item.variant.title }}</p>
          {%- endunless -%}

          {%- if line_item.properties != empty -%}
            <ul class="CartItem__PropertyList">
              {%- for property in line_item.properties -%}
                {%- assign first_character_in_key = property.first | truncate: 1, '' -%}

                {%- if property.last == blank or first_character_in_key == '_' -%}
                  {%- continue -%}
                {%- endif -%}

                <li class="CartItem__Property">{{ property.first }}: {{ property.last }}</li>
              {%- endfor -%}
            </ul>
          {%- endif -%}

          <div class="CartItem__PriceList">
            {%- if line_item.original_price > bold_item_price -%}
              <span class="CartItem__Price Price Price--highlight" data-money-convertible>{{ bold_item_price | money_without_trailing_zeros }}</span>
              <span class="CartItem__OriginalPrice Price Price--compareAt" data-money-convertible>{{ line_item.original_price | money_without_trailing_zeros }}</span>
            {%- else -%}
              <span class="CartItem__Price Price" data-money-convertible>{{ bold_item_price | money_without_trailing_zeros }}</span>
            {%- endif -%}
          </div>
        </div>


        {%- capture item_actions -%}
          <div class="CartItem__Actions Heading Text--subdued" style="text-align: center">

{% if line_item.product.template_suffix == 'quantity-limit-1' %}
<div class="limit-qty-1"><i>Limit 1 Per Customer</i></div>

            <div class="CartItem__QuantitySelector limited-qty-1" style="display:none; pointer-events: none;">
              <div class="QuantitySelector">

                <input type="number" name="updates[{{ line_item.key }}]" id="updates_{{ line_item.key }}" class="QuantitySelector__CurrentQuantity" data-line-id="{{ line_item.key }}" value="1">
            
              </div>
            </div>
            <script data-no-instant>
              $( document ).ready(function() {
                  $('.CartItem__Info .CartItem__QuantitySelector.limited-qty-1').each(function() {
                    var sPrice = $(this).parent('.Heading').prev('.CartItem__Meta').children('.CartItem__PriceList').children('.CartItem__Price.Price').text().replace('$','');
                    var tPrice = $(this).parent('.Heading').parent('.CartItem__Info').next('.CartItem__LinePrice.Price').text().replace('$','');
                    if(sPrice != tPrice){
                      $('.limit-qty-1-banner').show();
                    }
                  });
              });
            </script>

{% elsif line_item.product.template_suffix == 'quantity-limit-2' %}
<div class="limit-qty-1"><i>Limit 2 Per Customer</i></div>

            <div class="CartItem__QuantitySelector limited-qty-1" style="display:none; pointer-events: none;">
              <div class="QuantitySelector">
                {% if line_item.quantity >= 2 %}
                  <input type="number" name="updates[{{ line_item.key }}]" id="updates_{{ line_item.key }}" class="QuantitySelector__CurrentQuantity" data-line-id="{{ line_item.key }}" value="2">
                {% else %}
                  <input type="number" name="updates[{{ line_item.key }}]" id="updates_{{ line_item.key }}" class="QuantitySelector__CurrentQuantity" data-line-id="{{ line_item.key }}">
                {% endif %}
              </div>
            </div>
            <script data-no-instant>
              $( document ).ready(function() {
                  $('.CartItem__Info .CartItem__QuantitySelector.limited-qty-1').each(function() {
                    var sPrice = $(this).parent('.Heading').prev('.CartItem__Meta').children('.CartItem__PriceList').children('.CartItem__Price.Price').text().replace('$','');
                    var tPrice = $(this).parent('.Heading').parent('.CartItem__Info').next('.CartItem__LinePrice.Price').text().replace('$','');
                    if(parseFloat(sPrice) + parseFloat(sPrice) < tPrice){
                      $('.limit-qty-1-banner').show();
                    }
                  });
              });
            </script>

{% elsif line_item.product.template_suffix == 'quantity-limit-3' %}
<div class="limit-qty-1"><i>Limit 3 Per Customer</i></div>

            <div class="CartItem__QuantitySelector limited-qty-1" style="display:none; pointer-events: none;">
              <div class="QuantitySelector">
                {% if line_item.quantity >= 3 %}
                  <input type="number" name="updates[{{ line_item.key }}]" id="updates_{{ line_item.key }}" class="QuantitySelector__CurrentQuantity" data-line-id="{{ line_item.key }}" value="3">
                {% else %}
                  <input type="number" name="updates[{{ line_item.key }}]" id="updates_{{ line_item.key }}" class="QuantitySelector__CurrentQuantity" data-line-id="{{ line_item.key }}">
                {% endif %}
              </div>
            </div>
            <script data-no-instant>
              $( document ).ready(function() {
                  $('.CartItem__Info .CartItem__QuantitySelector.limited-qty-1').each(function() {
                    var sPrice = $(this).parent('.Heading').prev('.CartItem__Meta').children('.CartItem__PriceList').children('.CartItem__Price.Price').text().replace('$','');
                    var tPrice = $(this).parent('.Heading').parent('.CartItem__Info').next('.CartItem__LinePrice.Price').text().replace('$','');
                    if(parseFloat(sPrice) + parseFloat(sPrice) + parseFloat(sPrice) < tPrice){
                      $('.limit-qty-1-banner').show();
                    }
                  });
              });
            </script>

{% elsif line_item.product.template_suffix == 'quantity-limit-4' %}
<div class="limit-qty-1"><i>Limit 4 Per Customer</i></div>

            <div class="CartItem__QuantitySelector limited-qty-1" style="display:none; pointer-events: none;">
              <div class="QuantitySelector">
                {% if line_item.quantity >= 4 %}
                  <input type="number" name="updates[{{ line_item.key }}]" id="updates_{{ line_item.key }}" class="QuantitySelector__CurrentQuantity" data-line-id="{{ line_item.key }}" value="4">
                {% else %}
                  <input type="number" name="updates[{{ line_item.key }}]" id="updates_{{ line_item.key }}" class="QuantitySelector__CurrentQuantity" data-line-id="{{ line_item.key }}">
                {% endif %}
              </div>
            </div>
            <script data-no-instant>
              $( document ).ready(function() {
                  $('.CartItem__Info .CartItem__QuantitySelector.limited-qty-1').each(function() {
                    var sPrice = $(this).parent('.Heading').prev('.CartItem__Meta').children('.CartItem__PriceList').children('.CartItem__Price.Price').text().replace('$','');
                    var tPrice = $(this).parent('.Heading').parent('.CartItem__Info').next('.CartItem__LinePrice.Price').text().replace('$','');
                    if(parseFloat(sPrice) + parseFloat(sPrice) + parseFloat(sPrice) + parseFloat(sPrice) < tPrice){
                      $('.limit-qty-1-banner').show();
                    }
                  });
              });
            </script>

{%- else -%}

            <div class="CartItem__QuantitySelector">
              <div class="QuantitySelector">
                {%- assign quantity_minus_one = line_item.quantity | minus: 1 -%}

                <a class="QuantitySelector__Button Link Link--primary" title="{{ 'cart.items.set_quantity' | t: new_quantity: quantity_minus_one }}" href="/cart/change?quantity={{ quantity_minus_one }}&id={{ line_item.key }}" data-quantity="{{ quantity_minus_one }}" data-line-id="{{ line_item.key }}" data-action="update-item-quantity">
                  {%- include 'icon' with 'minus' -%}
                </a>

                <input type="text" name="updates[{{ line_item.key }}]" id="updates_{{ line_item.key }}" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" data-line-id="{{ line_item.key }}" value="{{ line_item.quantity }}" {% if line_item.product.metafields.inventory.ShappifyHidden == 'true' %} readonly {% endif %} >

                {%- assign quantity_plus_one = line_item.quantity | plus: 1 -%}

                <a class="QuantitySelector__Button Link Link--primary" title="{{ 'cart.items.set_quantity' | t: new_quantity: quantity_plus_one }}" href="/cart/change?quantity={{ quantity_plus_one }}&id={{ line_item.key }}" data-quantity="{{ quantity_plus_one }}" data-line-id="{{ line_item.key }}" data-action="update-item-quantity">
                  {%- include 'icon' with 'plus' -%}
                </a>
              </div>
            </div>

{%- endif -%}

            <a href="/cart/change?quantity=0&id={{ line_item.key }}" class="CartItem__Remove Link Link--underline Link--underlineShort" data-quantity="0" data-line-id="{{ line_item.key }}" data-action="remove-item">{{ 'cart.items.remove' | t }}</a>
          </div>
        {%- endcapture -%}

        {{ item_actions }}
      </div>

      {%- if for_drawer -%}
        <span style="display:none;" class="CartItem__LinePrice Price Heading Text--subdued u-h7" data-money-convertible style="text-align: right">{{ bold_item_line_price | money_without_trailing_zeros }}</span>
      {%- else -%}
        {{ item_actions }}

        <span class="CartItem__LinePrice Price Heading Text--subdued u-h7" data-money-convertible style="text-align: right">{{ bold_item_line_price | money_without_trailing_zeros }}</span>
      {%- endif -%}
    </div>

    {%- if for_drawer -%}
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>
