{% if product.metafields.inventory.ShappifySale == "true" %}
<img class='shappify-sales-icon-collection' src='//secure.apps.shappify.com/apps/discount/icons/default/sale10.png' />
<style>
.shappify-sales-icon-collection{
}
</style>
{% endif %}
