{% if product.metafields.inventory.ShappifySale == "true" %}
<img class='shappify-sales-icon-product' src='//secure.apps.shappify.com/apps/discount/icons/default/sale8.png' />
<style>
.shappify-sales-icon-product{
}
</style>
{% endif %}
