<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
 
 </head>
  <body>
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>

      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            
  			<div class="vip-message" style="display: none;background: #202020; text-align: center; padding: 10px 5px; color: #ffffff;">
              <div style="font-weight: bold; text-transform: uppercase;">Got questions?</div>
              <div class="vip-message-body">Call the KISS VIP hotline now!</div>
              <div class="vip-message-body">877-VIP-KISS<br>877-847-5477</div>
              <div class="vip-message-body">9am ET to 9pm ET.</div>
  			</div>
            
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>
    
    
<script>
$( document ).ready(function() {
  $( '.product' ).each(function() {
      if( $(this).attr('data-product-type') == "VIP" ) {
         $('.vip-message').show();
      }
  });
});
</script>

    {{ tracking_code }}
  </body>
</html>

