{% comment %} {- capture minified -%} {% endcomment %}

<!doctype html>

<html class="no-js" lang="{{ shop.locale }}">
  <head>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-69955305-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-69955305-6');
</script>

    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {% include 'social-meta-tags' %}

<!-- steven start -->
    {% comment %} {%- capture gggg -%}{{ content_for_header | replace: '  ', '' | strip_newlines | strip | escape }}{%- endcapture -%} {% endcomment %}

    {{ content_for_header }}
<!-- steven end -->

{% if template == 'product' and product.metafields.inventory.ShappifyHidden or product.type contains '_HIDDEN_' %}<meta name='robots' content='noindex'>{% endif %}
{%- include 'bold-product' with product, hide_action: 'header' -%}
{%- include 'bold-common' -%} 

    <link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'custom.scss.css' | asset_url }}">

    <script data-no-instant>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        template: {{ template.name | json }},
        shopCurrency: {{ shop.currency | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        currencyConversionEnabled: {{ settings.currency_conversion_enabled | json }},
        currencyConversionMoneyFormat: {{ settings.currency_conversion_money_format | json }},
        currencyConversionRoundAmounts: {{ settings.currency_conversion_round_amounts | json }},
        productImageSize: {{ settings.product_image_size | json }},
        searchMode: {{ settings.search_mode | json }},
        showPageTransition: {{ settings.show_page_transition | json }},
        showElementStaggering: {{ settings.show_element_staggering | json }},
        showImageZooming: {{ settings.show_image_zooming | json }},
        enableExperimentalResizeObserver: false
      };

      window.languages = {
        cartAddNote: {{ 'cart.general.add_note' | t | json }},
        cartEditNote: {{ 'cart.general.edit_note' | t | json }},
        productImageLoadingError: {{ 'product.slideshow.image_loading_error' | t | json }},
        productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMoreResults: {{ 'cart.shipping_estimator.more_results_title' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.5,
        expFactor: 2,
        ricTimeout: 150,
        lazyClass: 'Image--lazyLoad',
        loadingClass: 'Image--lazyLoading',
        loadedClass: 'Image--lazyLoaded'
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      document.documentElement.style.setProperty('--window-height', window.innerHeight + 'px');

      // We do a quick detection of some features (we could use Modernizr but for so little...)
      (function() {
        document.documentElement.className += ((window.CSS && window.CSS.supports('(position: sticky) or (position: -webkit-sticky)')) ? ' supports-sticky' : ' no-supports-sticky');
        document.documentElement.className += (window.matchMedia('(-moz-touch-enabled: 1), (hover: none)')).matches ? ' no-supports-hover' : ' supports-hover';
      }());

      // This code is done to force reload the page when the back button is hit (which allows to fix stale data on cart, for instance)
      if (performance.navigation.type === 2) {
        location.reload(true);
      }
    </script>

    
    <script src="{{ 'lazysizes.min.js' | asset_url }}" async></script> 


    {% if settings.currency_conversion_enabled %}
      <script src="//cdn.shopify.com/s/javascripts/currencies.js" defer></script>
    {% endif %}

    {%- if template == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script src="//cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&features=fetch,Element.prototype.closest,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,Object.assign,CustomEvent,IntersectionObserver,IntersectionObserverEntry" defer></script>
    <script src="{{ 'libs.min.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}{%- comment -%} Bold:ROBO {{ 'theme.min.js' | asset_url }} {%- endcomment -%}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>

    {% include 'microdata-schema' %}
{% comment %} <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> {% endcomment %}

<!-- my end -->
    
    
    {% if page.handle contains "returns-exchanges" or page.handle contains "shipping-faq" or page.handle contains "site-use-terms-conditions" %}
    	<style>
          .template-page .PageContent{
          	font-family: "Nunito Sans",sans-serif;
          }
    	</style>
    {% endif %}
    
    
    {% if page.handle contains "contact-us" %}
    	<style>
          .template-page .PageContent{
          	 max-width: 1050px;
          	font-family: "Nunito Sans",sans-serif;
            font-size: 18px;
          }
          .template-page .PageContent a{
            color: black;
          	font-family: "Nunito Sans",sans-serif;
          }
          @media only screen and (max-width: 768px) {
            .template-page .PageContent p{
              float: none!important;
              width: 100%!important;
              margin-left: 0!important;
              margin-right: 0!important;
            }
          }
    	</style>
    {% endif %}
    
    {% include 'affirmjs' %}
    
</head>

  <body class="prestige--v3 {% if template.directory %}template-{{ template.directory | handle }}{% endif %} template-{{ template.name | handle }}">
  {% section 'filter-menu-settings' %}
    <a class="PageSkipLink u-visually-hidden" href="#main">{{ 'header.navigation.skip_to_content' | t }}</a>
    <span class="LoadingBar"></span>
    <div class="PageOverlay"></div>
    <div class="PageTransition"></div>

    {% section 'popup' %}
    {% section 'sidebar-menu' %}

    {%- if template != 'cart' -%}
      {% include 'cart-drawer' %}
    {%- endif -%}

    <div class="PageContainer">
      {% section 'announcement' %}
      {% section 'header' %}

      <main id="main" role="main">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}
    </div>

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    SEARCH FORM (available globally)
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    <div id="Search" class="Search Modal Modal--fullScreen" aria-hidden="true" data-scrollable>
      <div class="Search__SearchBar">
        <form action="/search" name="GET" role="search" class="Search__Form">
          <input type="search" class="Search__Input Heading" name="q" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="{{ 'search.general.input_placeholder' | t }}" autofocus>
          <input type="hidden" name="type" value="product">
        </form>

        <button class="Search__Close Link Link--primary" data-action="close-modal">{% include 'icon' with 'close' %}</button>
      </div>

      <div class="Search__Results asdf"> 
        {%- if settings.search_mode != 'product' -%}
          <div class="PageLayout PageLayout--breakLap">
            <div class="PageLayout__Section"></div>
              <div class="PageLayout__Section PageLayout__Section--secondary"></div>
          </div>
        {%- endif -%}
      </div>
    </div>

    <script src="//cdn.codeblackbelt.com/js/modules/frequently-bought-together/main.min.js?shop=kiss-us.myshopify.com"></script>
    <script type="text/javascript" charset="utf-8" data-no-instant>
    var shappify_customer_tags = {{ customer.tags | json }}
  </script>

    {% comment %} <script>
      $( document ).ready(function() {
        $("#top-menu-right-btn_church-choir, #top-menu-right-btn_store").click(function() {
          $(this).children('nav.top-menu_dropdown-options').toggle();
        });
        $('.top-menu_dropdown-options').on("mouseleave", function() {
          $(this).hide();
        });
      });
    </script> {% endcomment %}



    <script data-no-instant>
      $(window).scroll(function() {    
        var scroll = $(window).scrollTop();
          if(scroll >= 43){
              $("body").addClass("Header--scroll-size");
          }
          else if (scroll == 0){
              $("body").removeClass("Header--scroll-size");
          }
      }); 
    </script>
  {% comment %} <script>
  $(document).ready(function() {
    var value = "{{ gggg }}";

    $('body').prepend( $('<textarea style="display:none" id="myScript" rows="5" readonly>'+value+'</textarea>') );
    
    setTimeout(function(){
      var myScriptContent = $('#myScript').val();
          //myScriptContent = myScriptContent.replace('https://api-admin.joox.io/js/pick-selector.js?shop=kiss-us.myshopify.com','')
      $('head').append(myScriptContent);
     }, 100);
  });
  </script> {% endcomment %}

{% comment %} { if template contains "collection" or template contains "index" or template contains "product" %} {% endcomment %}
{% comment %} <script src="{{ 'instantclick.min.js' | asset_url }}" data-no-instant></script>

      <script data-no-instant>


      function inIframe() {
        try {
          return window.self !== window.top;
        } catch (e) {
          return true;
        }
      }

      if (!inIframe()){
        InstantClick.init();
        InstantClick.on('change', function() {
          //window.lazySizesConfig = window.lazySizesConfig || {};
          //window.lazySizesConfig.init = false;

            setTimeout(function(){ 
              var resizeEvent = new Event('resize');
              window.dispatchEvent(resizeEvent);
              console.log('timeout');

              //lazySizes.init();
            }, 3000);
            console.log('kowabunga');


         $('head script[src*="shopify"]').each(function() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = $(this).attr('src');

            $('body').append( script );
            console.log('fire: '+script.src);

          });

            console.log('lazy2');
          //$('script').each(function() {
          //  var script = document.createElement('script');
          //  script.type = 'text/javascript';
          //  script.src = $(this).attr('src');

          //  $('body').append( script );

          //});

        });
      }
      </script>  {% endcomment %}
{% comment %} { endif %}  {% endcomment %}
    
    <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
    <script>
        var klaviyo = klaviyo || [];
        klaviyo.init({
          account: "QmVDNa",
          platform: "shopify"
        });
        klaviyo.enable("backinstock",{ 
        trigger: {
          product_page_text: "Notify Me When Available",
          product_page_class: "btn",
          product_page_text_align: "center",
          product_page_margin: "0px",
          replace_anchor: false
        },
        modal: {
         headline: "{product_name}",
         body_content: "Register to receive a notification when this item comes back in stock.",
         email_field_label: "Email",
         button_label: "Notify me when available",
         subscription_success_label: "You're in! We'll let you know when it's back.",
         footer_content: '',
         additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
         drop_background_color: "#000",
         background_color: "#fff",
         text_color: "#222",
         button_text_color: "#fff",
         button_background_color: "#222",
         close_button_color: "#ccc",
         error_background_color: "#fcd6d7",
         error_text_color: "#C72E2F",
         success_background_color: "#d3efcd",
         success_text_color: "#1B9500"
        }
      });
    </script>    
    
</body>
</html>
{% comment %} {%- endcapture minified -%}
{%- include 'minifier', minified: minified -%} {% endcomment %}