{%- comment -%}This contains the sectional settings for the Filter Menu. {%- endcomment -%}
{%- unless settings.pt_temporary_disable -%}
{%- if template contains 'collection' or settings.pt_show_only_on_collections != true -%}
<style type="text/css">
/*  Filter Menu Color and Image Section CSS */
{%- for block in section.blocks -%}
{%- if block.type == 'color-swatch' -%}
.pt-display-swatch ul .filter-active-{{ block.settings.collection }} .collection-name .check-icon:before
{
  background-color: {{ block.settings.color }};
  color: {{ block.settings.color }};
  -webkit-text-fill-color: transparent;
  {%- if block.settings.image != blank -%}
  background: -webkit-linear-gradient(transparent, transparent),
             url({{ block.settings.image | img_url }}) no-repeat center center;
  {%- endif -%}
  background: -o-linear-gradient(transparent, transparent);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;

}

.pt-display-swatch ul .filter-active-{{ block.settings.collection }} .collection-name .check-icon {
  text-shadow: none !important;
}
{%- elsif block.type == 'image-swatch' -%}
.filter-active-{{ block.settings.collection }} .collection-name .check-icon:before,
.filter-active-{{ block.settings.collection }} .collection-count
{
  display: none;
}
.filter-group ul .filter-active-{{ block.settings.collection }} {
  width: {{ block.settings.width }};
  display: inline-block;
  overflow: hidden;
}

.filter-active-{{ block.settings.collection }} li a {
  margin-left: 0
}

.filter-active-{{ block.settings.collection }} .collection-name {
  vertical-align: bottom;
  color: transparent;
  height: {{ block.settings.height }};
  width: {{ block.settings.width }};
  color: transparent !important;
}

{% assign image_height = block.settings.height | times: 2 | prepend: 'x'  %}
.filter-active-{{ block.settings.collection }} .collection-name .check-icon
{
  background: url({{ block.settings.image | img_url: image_height }}) no-repeat top left;
  height: {{ block.settings.height }};
  background-size: cover;
  opacity: 0.8;
  width: {{ block.settings.width }};
  display: inline-block;
}
.has_group_selected .filter-active-{{ block.settings.collection }} .collection-name .check-icon
{
 opacity: 0.4;
}
.filter-active-{{ block.settings.collection }}.selected .collection-name .check-icon,
.filter-active-{{ block.settings.collection }} .collection-name a:hover,
.filter-active-{{ block.settings.collection }} .collection-name a:hover .check-icon
{
  opacity: 1.0
}
{%- elsif block.type == 'image-icon' -%}
.filter-active-{{ block.settings.collection }} li a {
  vertical-align: middle;
  line-height: {{ block.settings.height }};
}

{% assign image_height = block.settings.height | times: 2 | prepend: 'x'  %}
.filter-active-{{ block.settings.collection }} .collection-name .check-icon {
  vertical-align: middle;
  height: {{ block.settings.height }};
  width: {{ block.settings.width }};
  background: url({{ block.settings.image | img_url: image_height }}) no-repeat 0px 0px;
  display: inline-block;
  background-size: contain;
  margin-right: 5px;
  opacity: 0.7;
}

.filter-active-{{ block.settings.collection }} .collection-name .check-icon:before {
 display: none
}

.filter-active-{{ block.settings.collection }}.selected .collection-name .check-icon,
.filter-active-{{ block.settings.collection }} .collection-name a:hover .check-icon
{
  opacity: 1.0
}

{%- endif -%}
{%- endfor -%}
</style>
{% comment %} {%- capture filter-menu -%}
  {{ 'filter-menu.js' | asset }}
{%- endcapture -%} {% endcomment %}
{{ 'filter-menu.scss.css' | asset_url | stylesheet_tag }}
{{ 'filter-menu.js' | asset_url | script_tag }} 
{% comment %} <script id="kowabunga">
  {{ filter-menu | replace: '  ', '' | strip_newlines }}
</script> {% endcomment %}
{% endif %}
{% endunless %}
{% schema %}
  {
    "name": "Filter Menu",
    "settings": [],
    "blocks": [
      {
        "type": "color-swatch",
        "name": "Color Swatch",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Filter"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Color",
            "default": "#333"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image file (optional)"
          }
        ]
      },
	  {
        "type": "image-swatch",
        "name": "Image Swatch",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Filter"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image file"
          },
          {
             "type":      "text",
             "id":        "height",
             "label":     "Height",
             "default":   "50px",
             "info":      "Height for the image",
             "placeholder": "50px"
          },
          {
             "type":      "text",
             "id":        "width",
             "label":     "Width",
             "default":   "100%",
             "info":      "Width for the image",
             "placeholder": "100%"
          }
        ]
      },
	  {
        "type": "image-icon",
        "name": "Left icon",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Filter"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image file"
          },
          {
             "type":      "text",
             "id":        "height",
             "label":     "Height",
             "default":   "30px",
             "info":      "Height for the image",
             "placeholder": "30px"
          },
          {
             "type":      "text",
             "id":        "width",
             "label":     "Width",
             "default":   "30px",
             "info":      "Width for the image",
             "placeholder": "30px"
          }
        ]
      }
	]
  }
{% endschema %}


