/*=============================================
===============================================
  GENERAL
===============================================
=============================================*/

img.shappify-sales-icon-collection {
    display: none;
}
.template-index{
  .ProductMeta__Description.Rte {
    overflow-y: auto;
  }
}

.vip-popout-slider-wrapper{
	background-color: #a93025;
    position: fixed;
    z-index: 999;
    right: -310px;
    top: 50%;
    padding: 20px 40px;
    color: white;
    border: 2px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    .vip-popout-slider-close{
      position: absolute;
      top: 5px;
      left: 10px;
      cursor: pointer;
    }
    .vip-message-body{
      font-family: Montserrat,sans-serif;
      font-weight: normal;
    }
}

nav.Header__MainNav .DropdownMenu{
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}


@font-face {
  font-family: 'die_nastyregular';
  src: url('die_nasty-webfont.woff2') format('woff2'),
    url('die_nasty-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, a, .Button, .Heading{
  font-family: 'die_nastyregular';
}

  body {
    font-family: 'die_nastyregular';
//    background: url({{ 'background.jpg' | asset_url }});
    background-repeat: repeat;
  }
  h2.SectionHeader__Heading.Heading.u-h1 {
      font-size: 2.5em;
      font-weight: bold;
  }  
  h3.SectionHeader__SubHeading.Heading.u-h6 {
    text-transform: initial;
    font-weight: bold;
  }

  .SectionHeader__Description {
    margin: 0 auto; 
  }
  .Link.Link--border {
    border: 2px solid black;
    padding: 11px;
    text-align: center;
  }

body.Header--scroll-size{
  margin-top: 10px;
  .Header__FlexItem .Header__LogoImage{
    width: 200px;
    transition: all 0.2s ease 0s;
  }
  .Header__Wrapper.Header__Wrapper {
    padding-top: 5px !important;
    padding-bottom: 40px !important;
    transition: all 0.2s ease 0s;
  }
  nav.Header__MainNav {
    padding-bottom: 18px !important;
    transition: all 0.2s ease 0s;
  }
}

/*=============================================
===============================================
  HOME JOIN CHOIR
===============================================
=============================================*/

  .home_join-church-choir {
      .FeatureText__ContentWrapper {
        text-align: center;
      }
      .Link.Link--border {
          display: block;
          max-width: 260px;
          margin: 0 auto;
      }

      li {
        display: inline;
      }    
  }

/*=============================================
===============================================
  HEADER
===============================================
=============================================*/

  .supports-sticky .Header--transparent {
    box-shadow:none !important; 
  }


/*=============================================
===============================================
  NEW HEADER
===============================================
=============================================*/
.Header--center .Header__FlexItem{
  margin-bottom: unset;
}
.SidebarMenu__Nav--secondary{
  margin-bottom: 28px;
}
#top-top-menu_wrapper, #top-menu_left-wrapper, #top-menu_right-wrapper, #mobile-menu_wrapper, #mobile-menu_dropdown, .top-menu_dropdown-options{
  display:none;
}
#section-header > div.Header__Wrapper > div:nth-child(1) > nav > ul.HorizontalList{
  margin-left: 0;
  margin-right: 0;
  a.Heading{
    font-size: 23px;
    letter-spacing: 0;
  }
}
.toptop_social{
  .Link:hover{
    span{
      color: rgb(208, 51, 31);
    }
  }
}
.Header__MainNav{
  .HorizontalList__Item .DropdownMenu .Linklist {
    overflow-y: auto;
    max-height: 40vh;
    .Linklist__Item{
      a{
        font-family: Montserrat,sans-serif;
      }
    }
  }
}
.Header__FlexItem{
  .Header__LogoImage{
    width: 300px;
    transition: all 0.2s ease 0s;
  }
}
.top-menu_dropdown-options{
  a.dropdown-options__item{
    font-family: Montserrat,sans-serif;
    color: black!important;
  }
}
.Header__Wrapper{
  background: #000000;
  .Header__Icon{
    color: #ffffff;
  }
}
.vip-message {
  padding:20px 0 0;
  .vip-message-body{
    font-family: Montserrat,sans-serif;
    font-weight: normal;
  }
}

@media screen and (min-width: 1240px) {
  .HorizontalList--spacingExtraLoose .HorizontalList__Item {
      margin-right: 10px;
      margin-left: 10px;
  }
  .Header__Logo {
    margin-top: -20px;
  }
  .Header__MainNav {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 18px;
    width: 100%;
    text-align: center;
  }
  nav.Header__MainNav {
    background: black;
    padding: 18px 0;
    padding-bottom: 50px!important;
    transition: all 0.2s ease 0s;
    li:hover a{
        color: #d0331f !important;
    }
    a.Heading{
      color: white;
    }
    .DropdownMenu {
      background-color: black;
      border-color: black;

      li a {
          color: white !important;
          &:hover {
            color: #d0331f !important;
          }
      }   
    }    
  }
  .Header__Wrapper.Header__Wrapper {
    padding: 25px 0 60px!important;
    font-weight: bold;
    background: black;
    transition: all 0.2s ease 0s;
    opacity: 1!important;
  }
  header#section-header{
    background: #ededed;
    transition: none;
  }
  #top-top-menu_wrapper{
    display: block;
    padding: 15px 20px 40px;
    background: #000000;
    color: #ffffff;
    .Text--subdued {
      color: #ffffff;
      &:hover{
        color: rgb(208, 51, 31);
      }
    }
    #top-top-menu_container{
      #top-top-menu_left{
        float: left;
        a, span{
          -webkit-transition: color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out;
        }
      }
      #top-top-menu_right{
        float: right;
        position: relative;
        z-index: 9;
        .join-choir{
          -webkit-transition: color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out;
          color: rgb(208, 51, 31);
          border-bottom: 1px solid rgb(208, 51, 31);
          text-transform: capitalize;
          &:hover{
            color: #cc5344;
          }
        }
      }
    }
  }
  #top-menu_left-wrapper{
    display: block;
    #top-menu_left-container{
      //padding-right: 50px;
      .top-menu_left-btn{
        display: inline-block;
        margin: 0px 15px 35px;
        text-transform: uppercase;
        a{
          color: white;
          font-size: 18px;
        }
      }
    }
  }
  #top-menu_right-wrapper{
    display: block;
    #top-menu_right-container{
      //padding-left: 50px;
      .top-menu_right-btn{
        display: inline-block;
        margin: 0px 15px 35px;
        text-transform: uppercase;
        a{
          color: white;
          font-size: 18px;
        }
        &.top-menu_right-btn-sublinks:hover{
          .top-menu_dropdown-options{
            display: block;
          }
        }
      }
      .top-menu_right-btn_store{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
      }
    }
  }
  .top-menu_left-btn:hover, .top-menu_right-btn:hover{
    border-bottom: 1px solid;
    border-top: 1px solid;
  }
}

.PageHeader{
  padding: 35px 0;
  margin: 0;
}
.Icon {
  height: 1.25em;
  width: 1.25em;
}
.top-menu_right-btn-sublinks, .top-menu_left-btn-sublinks{
  position: relative;
  cursor: pointer;
  nav.top-menu_dropdown-options {
    position: absolute;
    right: -20px;
    top: 25px;
    width: 150px;
    text-align: center;
    a{
      background: #fff;
      border-left: 2px solid #3b3b3b;
      border-right: 2px solid #3b3b3b;
      border-bottom: 2px solid #3b3b3b;
      color: #3b3b3b;
      display: block;
      line-height: 1.2;
      padding: 5px;
    }
    a:first-of-type {
      border-top: 2px solid #3b3b3b;
    }
  }
}
.mob-menu_dropdown-options{
  a{
    width: 100%;
    display: block;
    padding: 5px 0 5px 5px;
  }
}

@media screen and (max-width: 1240px) {

  body.Header--scroll-size{
    .Header__Wrapper.Header__Wrapper {
      padding-bottom: 18px !important;
      padding-top: 18px!important;
    }
  }
  .Collapsible{
    border-top: 0px;
  }
  #mobile-menu_dropdown{
    position: absolute;
    background: #202020;
    right: 0;
    top: 60px;
    overflow-y: scroll!important;
    max-height: 80vh;
    opacity: .96;
    box-shadow: -10px 10px 10px -10px #000;
    div.Collapsible{
      padding: 0 20px;
      a{
        color: white;
      }
      button{
        color: #CCC;
      }
    }
  }
  #mobile-menu_wrapper{
    display: block;
    background: #ffffff;
    padding: 20px 30px 40px;
    color: #000000;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px;
    position: relative;
    #mobile-menu_left{
      float: left;
    }
    #mobile-menu_right{
      float: right;
      cursor: pointer;
      i{
        vertical-align: text-top;
        margin-left: 5px;
      }
    }
  }
  nav.Header__MainNav {
    //background: black;
    position: absolute;
    right: 0;
    ul.HorizontalList--spacingExtraLoose {
      margin: 0;
      li.HorizontalList__Item{
        display:block;
        a.Heading{
          color: white;
        }
      }
    }
  }
}


@media screen and (max-width: 640px){
  #mobile-menu_dropdown{
    //top: 110px;
  }
}
@media screen and (min-width: 641px){
  .PageHeader{
    padding: 50px 0;
    margin: 0;
  }
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

  HOMEPAGE / INDEX
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.shopify-section .Section[data-section-type="image-with-text-block"] > div.Container{
  padding: 0 30px;
}

.shopify-section .Section[data-section-type="featured-collections"] > .SectionHeader{
  display: none;
}
.template-index {
  .ProductForm {
      margin-top: 0;
  }
  .ProductMeta__PriceList.Heading {
      margin-top: 5px;
  }  
  .shopify-payment-button {
      display: none;
  }  
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

  COLLECTIONS / PRODUCT LISTS
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.ProductList{
  .ProductItem__Title{
    font-size: 18px;
  }
  .ProductItem__Price{
    font-family: Montserrat,sans-serif;
  }
}
.ProductItem__Price.Price.Text--subdued {
    font-size: 16px;
}
.template-collection .PageHeader--withBackground{
  min-height: auto;
}


/*********************************
**********************************
  Collections Infinite Product Scroll
**********************************
**********************************/

.template-collection .infinite-product-scroll-wrap{
  .Pagination{
    position: relative;
  }
  .jscroll-loading{
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .jscroll-loading > img{
    margin: 0 auto;
  }
}

#infiniteoptions-container input {
	font-family: Montserrat,sans-serif;
}


/*=============================================
===============================================
  Product page
===============================================
=============================================*/

.template-product{
  #infiniteoptions-container{
    input{
      margin: 5px 0 15px;
      padding: 15px 10px;
      border: 1px solid #CCC;
      width: 100%;
    }
  }
  .flickity-viewport{
    margin-bottom: 50px;
    .ProductMeta__PriceList{
        margin-top: 0px;
    }
  }
}

.eastsideco_sizeGuides{
  display: none;
}
div.limit-qty-1 > i{
    font-size: 12px;
    letter-spacing: 1px;
}
div.limit-qty-1-banner{
  display:none;
  color: white;
  background: red;
  padding: 5px 0px;
  text-align: center;
  font-weight: bold;
}
.template-product{
  .ProductMeta__Price.Price{
    font-family: Montserrat,sans-serif;
  }
  .ProductMeta__Description{
    font-family: Montserrat,sans-serif;
    overflow-y: auto;
  }
}
.ProductForm__Variants, .Popover__ValueList button {
    font-family: Montserrat,sans-serif;
    font-size: 12px; 
}
.ProductMeta__Description {
    max-height: 100%;
}
img.shappify-sales-icon-product {
    max-width: 48px;
    height: auto;
}
.ProductForm__QuantitySelector {
    margin-bottom: 16px;
}

/*=============================================
===============================================
  FOOTER
===============================================
=============================================*/

#shopify-section-footer{
  .Footer__Aside{
    text-align: center;
    display: block;
    justify-content: unset;
    margin-top: 20px;
    img{
      margin-bottom: 20px;
    }
  }
}
  .Footer {
    background-color: #000000;
  }
  .Footer__Title.Heading{
    color: white;
  }
  img.footer_logo {
    max-height: 80px;
    margin-right: 20px;
  }
  .Footer__Copyright {
      text-transform: uppercase;
      color: white;
      a.Heading{
        color: white;
      }
  }  
  .Footer__StoreName {
      font-size: 14px;
      letter-spacing: 1px;
  } 
  img.footer_store-logo {
      display: block;
      margin: 15px auto 40px;
  }
  .footer_primary-links {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      margin: 30px auto 80px;

      a {
        margin: 0 20px; 
      }
  }
  .footer_secondary-links {
      a {
        font-weight: bold;
        margin-right: 15px;
        text-transform: uppercase;
      }
  }  
  h2.u-h6.footer_header-footer-menu {
      display: none;
  }

/*=============================================
===============================================
  MEDIA QUERIES
===============================================
=============================================*/

  @media screen and (min-width: 641px) {
    .FeatureText__Content {
        max-width: 750px;
    }  
    .Footer__Aside {
        justify-content: left;
    }    
  }

  #Slide1580508376822-0 .Slideshow__Image {
    -o-object-fit: contain;
    object-fit: contain;
    background: white;
} 

@media screen and (min-width: 1240px) {
  .Header__Logo-wrapper{
    position: absolute;
  }
}

.js .Slideshow__Image{
  opacity: 1!important;
}


/*=============================================
===============================================
  TEMPORARY HIDE FILTER MENU
===============================================
=============================================*/

.CollectionInner__Sidebar.hidden-pocket {
    display: none;
}


@media screen and (max-width: 640px) {
  .js .Carousel--fadeIn2 {
    .flickity-slider {
      -webkit-transform: none !important;
      transform: none !important;
    }

    .Carousel__Cell {
      left: 0 !important;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .Carousel__Cell.is-selected {
      opacity: 1;
      visibility: visible;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
  }
}

.Search__Results .PageLayout__Section.PageLayout__Section--secondary {
    display: none;
}

.Search[aria-hidden="false"] {
    max-width: 500px;
}

.Search__Results .Grid__Cell {
    width: 50%;
  margin-top: 25px;
}

a.btn.klaviyo-bis-trigger {
    margin-top: 20px !important;
    display: block;
    border: 2px solid black;
    padding: 10px;
}


div#holder1500 {
    background: #000 !important;
}
.AnnouncementBar p {
    font-family: Montserrat,sans-serif;
}



@media screen and (min-width: 1008px){
  .SectionHeader:not(:only-child) {
      margin-bottom: 30px;
  }
}
@media screen and (min-width: 641px) {
  .FeaturedProduct {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      max-width: 880px;
      max-width: 90%;
      margin: 0 auto;
  }
}


section.Section.Section--spacingNormal {
    padding-bottom: 0;
}
div#shopify-section-1579789489965 {
    border: none;
}
div#shopify-section-1579789489965 section {
    padding-top: 20px !important;
}
div#shopify-section-1580223808231 div {
    text-align: center !important;
}

 