{% section 'collection-template' %}
{% section 'recently-viewed-products' %}
{% section 'collection-footer' %}



{% if collection.title contains "VIP" %}
	<div class="vip-popout-slider-wrapper">
      <div class="vip-popout-slider-close">X</div>
      <div class="vip-message-title">Got questions?</div>
      <div class="vip-message-body">Call the KISS VIP hotline now!</div>
      <div class="vip-message-body">877-VIP-KISS<br>877-847-5477</div>
      <div class="vip-message-body">9am ET to 9pm ET.</div>
	</div>

<script>
$( document ).ready(function() {
    $(".vip-popout-slider-wrapper").animate({right: '0px'},500);
          
    $( '.vip-popout-slider-close' ).click(function() {
      $(".vip-popout-slider-wrapper").animate({right: '-310px'},500);
    });
});
</script>
{% endif %}