<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </header>

  <div class="PageContent PageContent--narrow Rte">
    {{ page.content }}
  </div>
</div>

{% if page.handle == 'contact-us' %}
  <style>
    @media screen and (min-width: 641px){
      .PageHeader {
          padding: 50px 0 0;f
      }
    }
  </style>
{% endif %}