{% section 'product-template' %}

{% section 'related-products' %}
{% section 'recently-viewed-products' %}


<style>
.ProductForm__QuantitySelector{
    cursor: not-allowed;
}
.ProductForm__QuantitySelector:hover .QuantitySelector:after{
    content: "Limit 1 Per Customer";
    background: black;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: not-allowed;
}
.QuantitySelector{
    pointer-events:none;
}
</style>


<script data-no-instant>
    $( document ).ready(function() {
        $('.Product__Info > .Container > form > button').on('click', function(){
            setTimeout(function(){ 
                $('.CartItem__Info .CartItem__QuantitySelector.limited-qty-1').each(function() {
                var sPrice = $(this).parent('.Heading').prev('.CartItem__Meta').children('.CartItem__PriceList').children('.CartItem__Price.Price').text();
                var tPrice = $(this).parent('.Heading').parent('.CartItem__Info').next('.CartItem__LinePrice.Price').text();
                //alert(sPrice+' | '+tPrice);
                    if(sPrice != tPrice){
                        $('.limit-qty-1-banner').show();
                    }
                });
            }, 1000);
        });
    });
</script>