{% section 'product-template' %}

{% section 'related-products' %}
{% section 'recently-viewed-products' %}



<style>
.ProductForm__QuantitySelector:hover .QuantitySelector:after{
    content: "Limit 3 Per Customer";
    background: black;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: not-allowed;
}
</style>


<script data-no-instant>
    $( document ).ready(function() {
        $('.QuantitySelector__CurrentQuantity').on('change', function(){
            if ($(this).val() >= 3) {
                $(this).val('3'); 
            }
        });
        $('div.ProductForm__QuantitySelector > div > span:nth-child(3)').on('click', function(){
            if ($(this).prev('.QuantitySelector__CurrentQuantity').val() >= 3) {
                $(this).prev('.QuantitySelector__CurrentQuantity').val('2'); 
            }
        });
        $('.Product__Info > .Container > form > button').on('click', function(){
            setTimeout(function(){ 
                $('.CartItem__Info .CartItem__QuantitySelector.limited-qty-1').each(function() {
                var sPrice = $(this).parent('.Heading').prev('.CartItem__Meta').children('.CartItem__PriceList').children('.CartItem__Price.Price').text().replace('$','');
                var tPrice = $(this).parent('.Heading').parent('.CartItem__Info').next('.CartItem__LinePrice.Price').text().replace('$','');
                //alert(parseFloat(sPrice)+parseFloat(sPrice) +' | '+tPrice);
                    if(parseFloat(sPrice)+parseFloat(sPrice)+parseFloat(sPrice) < tPrice){
                        $('.limit-qty-1-banner').show();
                    }
                });
            }, 1000);
        });
    });
</script>